@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Nunito:wght@300;400;700&display=swap");
/*     tipeando texto     */
@-webkit-keyframes typing {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
@keyframes typing {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@-webkit-keyframes blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

@keyframes blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

/*     escalar botón     */
@-webkit-keyframes scale {
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}
@keyframes scale {
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

/*     spinner     */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

* {
  font-family: "Merriweather", serif;
  font-size: 18px;
}

html,
body {
  min-height: 100vh;
}

body {
  display: -ms-grid;
  display: grid;
  grid-auto-rows: 50px auto 50px;
      grid-template-areas: "header" "main" "footer";
  background-color: #244b8c;
}

main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
  min-height: 100%;
}

/*     textos generales     */
h1,
h2,
h3 {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 1.4rem;
  color: red !important;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

.title__typing {
  display: inline-block;
}

.title__text {
  color: red !important;
  -webkit-animation: typing 5s steps(30, end), blink 0.75s step-end infinite;
          animation: typing 5s steps(30, end), blink 0.75s step-end infinite;
  border-right: 4px solid orange;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  letter-spacing: 2px;
  margin: 0;
  margin-bottom: 1rem;
  overflow: hidden;
  white-space: nowrap;
}

h2,
h3 {
  text-align: center;
  text-shadow: 2px 2px 2px #323232;
}

h2 {
  color: #d4d4d4 !important;
}

h3 {
  color: red !important;
  letter-spacing: 0.5rem;
}

p {
  text-align: center;
}

@media screen and (min-width: 768px) {
  p {
    text-align: left;
  }
}

.btn {
  display: block;
  margin: 0 auto;
}

.btn-primary, .btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: red !important;
  background-color: red;
  color: #000 !important;
  border-color: red !important;
  -webkit-box-shadow: 1px 1px 4px #323232;
          box-shadow: 1px 1px 4px #323232;
  outline: none !important;
  width: 110px;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  color: #d4d4d4 !important;
  text-decoration: underline;
}

.btn-primary:active {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.btn-primary:hover {
  -webkit-animation: scale 1s linear;
          animation: scale 1s linear;
}

header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
}

@media screen and (min-width: 768px) {
  header .navbar {
    margin: 0 2rem;
  }
}

header .navbar-toggler:focus {
  outline: none;
}

header .navbar-toggler-icon {
  background-color: #d4d4d4;
}

header .navbar-toggler-icon {
  border-radius: 4px;
}

header .navbar-brand,
header .nav-link {
  color: #d4d4d4 !important;
}

header .nav-item {
  background-color: rgba(50, 50, 50, 0.8);
  border-bottom: 1px solid #d4d4d4;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

header .nav-item .nav-link {
  text-decoration: underline;
}

header .nav-item:hover {
  background-color: #d4d4d4;
  text-transform: uppercase;
}

header .nav-item:hover .nav-link {
  color: #244b8c !important;
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  header .nav-item {
    background-color: transparent;
    border-radius: 10px;
    border-bottom: none;
    margin-left: 5px;
    width: 110px;
  }
  header .nav-item:hover {
    -webkit-box-shadow: 0 0 7px 0 #323232;
            box-shadow: 0 0 7px 0 #323232;
  }
  header .nav-item:active {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

/* sección y página about */
.about__intro,
.about__certificates {
  background-color: #d4d4d4;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 7px 0 #323232;
          box-shadow: 0 0 7px 0 #323232;
  margin: 2em 0;
  padding: 1em 1rem;
}

.about {
  /*  about__intro  */
  /*  about__certificates  */
}

.about__text {
  margin-top: 1rem;
}

@media screen and (min-width: 768px) {
  .about__text {
    margin-left: 1rem;
    width: 60%;
  }
}

.about__imagePpal {
  margin: 0 auto;
  max-width: 350px;
  width: 70%;
}

@media screen and (min-width: 576px) {
  .about__imagePpal {
    width: 50%;
  }
}

@media screen and (min-width: 768px) {
  .about__imagePpal {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 70%;
  }
}

.about .btn {
  margin-top: 10px;
  width: 250px;
}

.about__images {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 1em;
}

@media screen and (min-width: 768px) {
  .about__images {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 80%;
    margin: 0 auto;
  }
}

.about__images img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .about__images img {
    width: 100%;
  }
}

/* sección intro */
.indexIntro {
  background-color: #d4d4d4;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 7px 0 #323232;
          box-shadow: 0 0 7px 0 #323232;
  margin: 2em 0;
  padding: 1em 1rem;
}

.indexIntro__imgContainer {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .indexIntro__imgContainer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.indexIntro__imgContainer img {
  margin-bottom: 1em;
  width: 50%;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.indexIntro__imgContainer img:active, .indexIntro__imgContainer img:hover {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
}

@media screen and (min-width: 768px) {
  .indexIntro__imgContainer img {
    width: 25%;
  }
}

/* sección y página blog */
.blog,
.indexBlog {
  margin: 0 2rem;
}

.blog__title,
.indexBlog__title {
  color: #d4d4d4 !important;
  text-align: center;
  text-shadow: 1px 1px 2px #323232;
  font-size: 2rem;
}

.blog__articles,
.indexBlog__articles {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 576px) {
  .blog__articles,
  .indexBlog__articles {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.blog .article,
.indexBlog .article {
  background-color: #d4d4d4;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 7px 0 #323232;
          box-shadow: 0 0 7px 0 #323232;
  margin: 2em 0;
  padding: 1em 1rem;
  color: #323232 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-decoration: none;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  width: 100%;
}

@media screen and (min-width: 576px) {
  .blog .article,
  .indexBlog .article {
    min-height: 700px;
    width: calc(50% - 2rem);
  }
}

@media screen and (min-width: 768px) {
  .blog .article,
  .indexBlog .article {
    width: 30%;
  }
}

.blog .article:hover, .blog .article:active,
.indexBlog .article:hover,
.indexBlog .article:active {
  background-color: #323232;
  color: #d4d4d4 !important;
}

.blog .article:hover h2, .blog .article:active h2,
.indexBlog .article:hover h2,
.indexBlog .article:active h2 {
  text-shadow: 2px 2px 2px #d4d4d4;
}

.blog .article:hover .article__info, .blog .article:active .article__info,
.indexBlog .article:hover .article__info,
.indexBlog .article:active .article__info {
  border-top-color: #d4d4d4;
}

.blog .article__image,
.indexBlog .article__image {
  max-width: 240px;
  margin: 0 auto;
  width: 100%;
}

.blog .article__title,
.indexBlog .article__title {
  color: red !important;
  margin: 1rem 0;
}

.blog .article__description,
.indexBlog .article__description {
  text-align: center;
}

.indexBlog {
  margin: 0;
}

.article__info,
.blogArticle__info {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #323232;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 1rem;
}

.article__info img,
.blogArticle__info img {
  border-radius: 50%;
  height: 40px;
  margin: 0 0.5rem;
  width: 40px;
}

/* sección contacto */
.contact__title {
  font-size: 2rem;
}

.contact__form {
  background-color: #d4d4d4;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 7px 0 #323232;
          box-shadow: 0 0 7px 0 #323232;
  margin: 2em 0;
  padding: 1em 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.contact__title {
  text-align: center;
}

.contact__input, .contact__textarea {
  display: block;
  margin: 0.5em auto;
  width: 100%;
}

.contact__textarea {
  resize: none;
}

.contact__label, .contact__buttons {
  display: block;
  margin: 0 auto;
  width: 90%;
}

@media screen and (min-width: 768px) {
  .contact__label, .contact__buttons {
    max-width: 60%;
  }
}

.contact__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 1em;
}

.contact__buttons .btn {
  width: 40%;
}

/* página de artículo */
.blogArticle {
  background-color: #d4d4d4;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 7px 0 #323232;
          box-shadow: 0 0 7px 0 #323232;
  margin: 2em 0;
  padding: 1em 1rem;
  margin-left: auto;
  margin-right: auto;
  width: calc(100vw - 30px);
}

@media screen and (min-width: 576px) {
  .blogArticle {
    max-width: 510px;
  }
}

@media screen and (min-width: 768px) {
  .blogArticle {
    max-width: 690px;
  }
}

@media screen and (min-width: 992px) {
  .blogArticle {
    max-width: 930px;
  }
}

@media screen and (min-width: 1200px) {
  .blogArticle {
    max-width: 1110px;
  }
}

.blogArticle__title {
  color: red !important;
  text-align: center;
  text-shadow: 1px 1px 2px #323232;
  font-size: 2rem;
  width: 100%;
}

.blogArticle__subtitle {
  color: red !important;
  font-size: 1.5rem;
  width: 100%;
}

.blogArticle__text {
  width: 100%;
}

.blogArticle__codeContainer {
  border: 1px solid #323232;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2em auto;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .blogArticle__codeContainer {
    width: 60%;
  }
}

.blogArticle__codeContent {
  margin: 0 1em;
  margin-top: 0.5em;
}

.blogArticle__image {
  display: block;
  margin: 0 auto;
  width: 90%;
}

@media screen and (min-width: 768px) {
  .blogArticle__image {
    width: 60%;
  }
}

.blogArticle__info {
  border-top: none;
  padding-bottom: 1rem;
  padding-top: 0;
}

.blogArticle .spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #244b8c;
  border-radius: 50%;
  height: 36px;
  margin: 20px auto;
  width: 36px;
  -webkit-animation: spin 500ms linear infinite;
          animation: spin 500ms linear infinite;
}

.tableArticle {
  border: 1px solid #323232;
  border-collapse: separate;
  border-radius: 10px;
  margin: 1em 0;
  padding: 1em;
}

.tableArticle__rowHeader, .tableArticle__rowContent {
  border: 1px solid #323232;
  text-align: center;
}

.tableArticle__rowHeader:first-of-type {
  width: 30%;
}

.footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
}

.footer__text {
  color: #d4d4d4 !important;
  text-shadow: 1px 1px 2px #000;
  width: 75%;
}

.footer__link {
  color: #d4d4d4 !important;
  text-decoration: underline;
}
/*# sourceMappingURL=styles.css.map */