header {
  grid-area: header;
  height: 50px;
  position: fixed;
  width: 100%;
  .navbar {
    background-color: rgba(0, 0, 0, 0.75);
    padding: 0;
    @media screen and (min-width: 768px) {
      padding: 0 2rem;
    }
  }
  .navbar-toggler:focus {
    outline: none;
  }
  .navbar-toggler-icon {
    @include bgColor($grey);
  }
  .navbar-toggler-icon {
    border-radius: 4px;
  }
  .navbar-brand,
  .nav-link {
    @include color($grey);
  }
  .navbar-brand {
    border-radius: 5px;

    padding: 5px;
    &:hover {
      @include bgColor($blue);
    }
  }
  .nav-item {
    @include bgColor($dark-grey, 0.8);
    border-bottom: 1px solid $grey;
    transition: all 500ms ease-in-out;
    &:hover {
      @include bgColor($grey);
      text-transform: uppercase;
    }
    &:hover .nav-link {
      @include color($blue);
      text-decoration: underline;
    }
    @media screen and (min-width: 768px) {
      @include bgColor(none);
      border-radius: 10px;
      border-bottom: none;
      margin-left: 5px;
      width: 110px;
      &:hover {
        box-shadow: 0 0 7px 0 $dark-grey;
      }
      &:active {
        box-shadow: none;
      }
    }
  }
}
