/* sección y página about */
.indexAbout,
.about__intro,
.about__certificates {
  @include content($grey);
}
.indexAbout {
  display: grid;
  grid-gap: 1em;
  grid-template-areas:
    "imgPpal"
    "text"
    "certTitle"
    "imgCert";
  @media screen and (min-width: 768px) {
    grid-gap: 0;
    grid-template-areas:
      "imgPpal text"
      "certTitle certTitle"
      "imgCert imgCert";
  }
  &__imgPpal {
    margin-top: 1em;
    @media screen and (min-width: 768px) {
      width: 100%;
    }
  }
  &__text {
    @media screen and (min-width: 768px) {
      margin: 0 auto;
      width: 90%;
      & title__text {
        margin: 1rem 0;
      }
    }
  }

  .aboutIntro {
    &__text {
      margin: 2em;
    }
  }
}
.about {
  /*  about__intro  */
  &__text {
    margin-top: 1rem;
    @media screen and (min-width: 768px) {
      margin-left: 1rem;
      width: 60%;
    }
  }
  &__imagePpal {
    max-width: 350px;
    width: 70%;
    @media screen and (min-width: 576px) {
      width: 50%;
    }
    @media screen and (min-width: 768px) {
      align-self: center;
      width: 70%;
    }
  }
  .btn {
    margin-top: 10px;
    width: 250px;
  }
  /*  about__certificates  */
  &__images {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 1em;
    @media screen and (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
      width: 80%;
      margin: 0 auto;
    }
    img {
      width: 100%;
      @media screen and (min-width: 768px) {
        width: 100%;
      }
    }
  }
}

/* sección intro */
.indexIntro {
  @include content($grey);
  &__imgContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media screen and (min-width: 768px) {
      flex-direction: row;
    }
    img {
      margin-bottom: 1em;
      width: 50%;
      transition: all 1s ease-in-out;
      &:active,
      &:hover {
        transform: rotateY(360deg);
      }
      @media screen and (min-width: 768px) {
        width: 25%;
      }
    }
  }
}

/* sección y página blog */
.blog,
.indexBlog {
  margin: 0 2rem;
  &__title {
    @include color($grey);
    text-align: center;
    text-shadow: 1px 1px 2px $dark-grey;
    font-size: 2rem;
  }
  &__articles {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media screen and(min-width:576px) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
  .article {
    @include content($grey);
    @include color($dark-grey);
    display: flex;
    flex-direction: column;
    text-align: center;
    text-decoration: none;
    width: 100%;
    @media screen and(min-width:576px) {
      width: calc(50% - 2rem);
    }
    @media screen and(min-width:768px) {
      width: 30%;
    }
    &:hover {
      @include bgColor($dark-grey);
      @include color($grey);
      h2 {
        text-shadow: 2px 2px 2px $grey;
      }
    }
    &__image {
      max-width: 240px;
      margin: 0 auto;
      width: 100%;
    }
    &__title {
      @include color($red);
      margin: 1rem 0;
    }
  }
}
.indexBlog {
  margin: 0;
}
/* sección contacto */
.contact {
  &__title {
    font-size: 2rem;
  }
  &__form {
    @include content($grey);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  &__title {
    text-align: center;
  }
  &__input,
  &__textarea {
    display: block;
    margin: 0.5em auto;
    width: 100%;
  }
  &__textarea {
    resize: none;
  }
  &__label,
  &__buttons {
    display: block;
    margin: 0 auto;
    width: 90%;
    @media screen and (min-width: 768px) {
      max-width: 60%;
    }
  }
  &__buttons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1em;
    .btn {
      width: 40%;
    }
  }
}

/* página de artículo */
.blogArticle {
  @include content($grey);
  margin-left: auto;
  margin-right: auto;
  width: calc(100% - 30px);
  @media screen and (min-width: 576px) {
    max-width: 510px;
  }
  @media screen and (min-width: 768px) {
    max-width: 690px;
  }
  @media screen and (min-width: 992px) {
    max-width: 930px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1110px;
  }
  &__title {
    @include color($red);
    text-align: center;
    text-shadow: 1px 1px 2px $dark-grey;
    font-size: 2rem;
    width: 100%;
  }

  &__subtitle {
    @include color($red);
    font-size: 1.5rem;
    width: 100%;
  }
  &__text {
    width: 100%;
  }
  &__codeContainer {
    border: 1px solid $dark-grey;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 2em auto;
    width: 100%;
    @media screen and (min-width: 768px) {
      width: 60%;
    }
  }
  &__codeContent {
    margin: 0 1em;
    margin-top: 0.5em;
  }

  &__image {
    display: block;
    margin: 0 auto;
    width: 90%;
    @media screen and (min-width: 768px) {
      width: 60%;
    }
  }
  .spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: $blue;
    border-radius: 50%;
    height: 36px;
    margin: 20px auto;
    width: 36px;
    animation: spin 500ms linear infinite;
  }
}
.tableArticle {
  border: 1px solid $dark-grey;
  border-collapse: separate;
  border-radius: 10px;
  margin: 1em 0;
  padding: 1em;
  &__row {
    &Header,
    &Content {
      border: 1px solid $dark-grey;
      text-align: center;
    }
    &Header:first-of-type {
      width: 30%;
    }
  }
}
